node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
Code/node_modules/**/*
Code/MallE/Screen/config.json
Code/MallE/package-lock.json
Code/package-lock.json

# macOS
.DS_Store
